.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 3fr 0.4fr;
  grid-template-areas: "header header header"
    "sidebar navigation ads"
    "sidebar main ads"
    "footer footer footer";
  grid-gap: 1rem;
  font-size: 1.5rem;
}

.item {
  border: 3px solid red;
  border-radius: 0.2rem;
  padding: 1rem;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.navigation {
  grid-area: navigation;
}

.ads {
  grid-area: ads;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}